*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-navbar{ /* Styling logo and navigation bar: start */
  width: 90%;
  margin: auto;
  padding-top: 1.5em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}
nav li{
  margin-top: 10px;
}
nav a{
  display: block;
  text-decoration: none;
  padding: 0 15px;
  line-height: 60px;
  color: black;
  font-size: 25px;
}
input[type=checkbox]{
  display: none;
}
.hamburger{
  display: none;
}
.sub-drop{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: auto;
  box-shadow: 2px 5px grey;
  display: none;
}
.sub-drop a:hover{
  background-color: rgb(231, 222, 222);
}
nav ul li:hover > ul{
  display: block;
}

/* Styling logo and navigation bar: end */

.EE-header{ /* Styling heading for the page: start */
  height: 500px;
  display: flex;
  color: white;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  padding: 150px 290px 150px 290px;
  background: linear-gradient(rgb(2,25,102),rgba(2, 25, 102, 0.616)), url(headerdp.svg) no-repeat center;
  background-size: cover;
}

/* Styling heading for the page: end */

.main-section1{ /* Styling page main section 1: start */
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.main-section1 img{
  height: 700px;
  margin-right: 30px;
  margin-left: 20px;
}
.main-section1 article{
  font-size: 36px;
  text-align: right; 
  line-height: 70px;
  margin-right: 30px;
} /* Styling page main section 1: end */

.main-section2{ /* Styling page main section 2: start */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.main-section2div p{
  font-size: 35px;
  text-align: left;
  line-height: 70px;
  margin-left: 35px;
  padding-bottom: 30px;
}
.main-section2img img{
  height: 526px;
  margin-top: 80px;
  margin-right: 30px;
} /* Styling page main section 2: end */

.bottom-section{ /* Styling botton section: start */
  text-align: center;
}
.bottom-section p{
  font-size: 35px;
  margin-top: 54px;
  padding-right: 90px;
  padding-left: 90px;
}
.bottom-section button{
  font-size: 30px;
  outline: none;
  border: none;
  color: white;
  background-color: #021966;
  padding: 14px 40px 15px 40px;
  margin-top: 50px;
} /* Styling botton section: end */

footer{ /* Styling page footer: start */
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 90px;
}
.footer-design{
  display: flex;
  justify-content: space-between;
}
.footer-design img{
  margin-left: 100px;
  margin-right: 150px;
}
.footer-info{
  font-size: 30px;
  margin-top: 40px;
  line-height: 40px;
  margin-bottom: 70px;
}
.LR-copy{
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}/* Styling page footer: end */

/* RESPONSIVENESS: MOBILE VIEW */
@media (max-width: 1450px){
  .lr-logo{
    width: 200px;
    align-self: left;
  }
  ul{
    display: flex;
    flex-direction: column;
  }
  .logo-navbar a{
    font-size: 25px;
  }
  .hamburger{
  cursor: pointer;
  display: block;
  margin-right: 10px;
  font-size: 35px;
  }
.hamburger:hover+.drop-down{ /* Gives the hamburger the nav values to display */
  display: block;
  } 
.drop-down{
  display: none;
  position: absolute;
  background-color: #fff;
  right: 0;
  box-shadow: 2px 2px grey;
  margin-top: 50px;
  width: 80%;
  /* transform: translateX(35%); */
  }
  .sub-drop{
    position: absolute;
  }
  .drop-down:hover{
    background-color: #fff;
    display: block;
  }
  .drop-down a:hover{
    background-color: rgb(231, 222, 222);
  }
  .EE-header{
    font-size: 5.5vmin;
    height: auto;
  }
  .main-section1{
    display: flex;
    flex-direction: column-reverse;
  }
  .main-section1 img{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 30px;
  }
  .main-section1 article{
    line-height: 55px;
  }
  .main-section2{
    display: flex;
    flex-direction: column;
  }
  .main-section2div p{
    line-height: 50px;
  }
  .main-section2 img{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }
  .footer-design{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }
  .footer-info{
    font-size: 3.0vmin;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}