@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
/*NAVBAR STYLING*/
a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.015em;

  color: #000000;
}

a:active{
  color: #990201;
;
}

.menu li{
  font-weight: 600;
  font-size: 14px;
}
li {
  list-style: none;
}
/*down arrow*/
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/*NORMAL NAVBAR*/
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
}

/* LOGO */
.logo{
  width: 25%;
  display: flex;
  justify-content: center;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 2em;
  font-size: 18px;
}

.menu li:hover{
  color: #9b4774;
  /*transition: 3s ease;*/
}

.menu li {
  padding-right: 1em;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: #FFFFFF;
  padding: 10px 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  width: max-content ;
  /*border-radius: 8px;*/
  /*top: 35px;*/
}
.dropdown li + li {
  /*margin-top: 10px;*/
}
.dropdown li {
  padding: 0.5em 1em;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}
.dropdown li:hover {
  /*background-color: #4c9e9e;*/
}
.services:hover .dropdown {
  display: block;
}

/*NAVBAR STYLING ENDS*/

.texts{
  text-align: center;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }

.header {
    width: 100%;
    height: 515px;
    justify-content: center;
    align-items: center;
    display: flex;
    background:linear-gradient(#021966, #021966d0), url(Centerimage.png) center no-repeat;
}

#headid  {
  width: available;
  /*height: 135px;*/
  /*vertical-align: middle;*/
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 105px;
  /* identical to box height */
  letter-spacing: -0.015em;
  color: #FFFFFF;
}
/*top title styling ends*/
img {
  max-width: 100%;
  max-height: 100%;
  /*height: 515px;*/
  /*object-fit: contain;*/
}

.hcpmain-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.hcpmain-content{
  padding: 20px;
}


#headid{
  width: available;
  /*height: 135px;*/
  /*vertical-align: middle;*/
  text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 105px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.side-by-side,
.side-by-side2{
    align-items: center;
}

.side-by-side,
.side-by-side2{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*max-height: 597px;*/
    margin-left: 20px;
    margin-right: 20px;
    /*height: fit-content;*/
}

.side-by-side div,
.side-by-side2 div{
    padding-bottom: 20px;
    /*flex-basis: 50%;*/
}

.side-by-side2{
    text-align: right;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 10px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150.9%;
    text-align: center;
    /* or 60px */

    display: flex;
    color: #021966;
}


.text {
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    /*letter-spacing: -0.015em;*/

    color: #000000;
}

hr{
    display: none;
    /*border-top: 5px #021966;*/
    height: 3px;
    width: 100%;
    background-color: #021966;
    margin-bottom: 20px;
}

/* STYLE FOR THE BUTTON */
.getstarted{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.getstarted button{
    margin-top: 100px;
    margin-bottom: 50px;
    outline: none;
    border: none;
    background-color: #021966;
    color: white;
    padding: 19px 40px 18px 40px;
    font-weight: 500;
    font-size: 26px;
}

/*footer css*/
footer{
  padding-right: 20px;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
}

.footer-design{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.footer-info > div,
.footer-info2 > div{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  /*margin-right: 30px;*/
  padding-bottom: 10px;
}


.footer-info{
  display: flex;
  flex-direction: row;
  flex-basis: 53%;
  justify-content: space-between;
}

#round{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: block;
  margin: auto;
}

h3{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

#LR-Copy{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 6px;
  font-size: 12px;
}

.footer{
  display: flex;
  flex-direction: row
}
/*end of footer css*/

  @media only screen and (max-width: 760px) {
    /*NAVBAR MEDIA QUERY*/
    .menu {
        display:none;
        position: absolute;
        width: max-content ;
        background-color:white;
        right: 0;
        /*left: 0;*/
        text-align: left;
        padding: 16px 10px;
    }
    .menu li:hover {
        /*display: inline-block;*/
        /*background-color:#4c9e9e;*/
        /*transition: 0.3s ease;*/
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        margin-right: 10px;
        display: block;
    }
    .dropdown {
        padding-top: 0;
        right: 100%;
        top: 20px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        /*background-color: #4c9e9e;*/
    }
    /*NAVBAR ENDS*/

    /*top title style*/
    .header{
      height: 179px;
      background:linear-gradient(#021966, #021966d0), url(Centerimage.png) center no-repeat;
  }
  #headid{
      font-size: 50px;
      line-height: 80px;
  }
  
  .footer,
    .footer-design,
    .side-by-side{
        flex-direction: column;
    }
    .footer{
        padding-left: 20px;
        text-align: center;
    }

    .side-by-side2,
    .side-by-side{
        border-top: 5px #021966;
    }


    .grid-container{
        display: flex;
    }

    .footer-design{
        align-content: center;
        width: 100%;
    }

    .side-by-side2{
        flex-direction: column-reverse;
        text-align: left;
    }

    .footer-info{
        justify-content: space-between;
    }
    hr{
        display: inline;

    }

}
  /*top title style ends*/